@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.dashboardnavbar_menu_items {
  display: flex;
  flex-direction: row;
}
.dashboardnavbar_container {
  padding-top: 1%;
  width: max-content;
}
.dashboardnavbar_menu_item {
  display: flex;
  flex-direction: row;
}
.dashboardnavbar_menu_item-button {
  margin-top: 3.5%;
  display: flex;
  height: 30px;
  align-items: center;
  padding-left: 20px;
  user-select: none;
  cursor: pointer;
  padding-right: 20px;
  border: 1px solid #000000;
  border-radius: 80px;
  margin-right: 10px;
  font-family: "Nunito", sans-serif;
}
.dashboardnavbar_menu_item_icon {
  margin-right: 10px;
}

.dashboardnavbar_navbar_line {
  margin-top: 2%;
  border: 2px solid #000000;
}

.dashboardnavbar_menu_item-button-active {
  background: #91de85;
}
.dashboardnavbar_menu_item_icon_img {
  width: 40px;
}
.dashboardnavbar_menu_item_icon {
  margin-top: 2%;
}
.dashboardnavbar_menu_item-button_icon {
  width: 25px;
  margin-left: 6px;
  margin-right: -3px;
  margin-top: -1px;
}
.dashboardnavbar_menu_item_button_add-user {
  background-color: #2295ff;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}
.dashboardnavbar_card::-webkit-scrollbar {
  display: none;
}
.dashboardnavbar_card {
  flex: 1 1 auto;
  padding: 1%;
  margin-top: 2%;
  width: 100%;
  /* height:300px; */
  /* overflow: none;
  overflow: hidden;
  overflow-y: scroll; */
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.dashboardnavbar_card_menu {
  width: 100%;background: #FFFFFF;
}
.dashboardnavbar_card_menu_items{
  width: 16.7%;
  padding-top:2%;
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}
th{
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: "Nunito", sans-serif;
  text-align: center;

}
.dashboardnavbar_card_menu_body{
  overflow:hidden;
  overflow-y: scroll;
}
.dashboardnavbar_card_menubar{
  background-color: #ffffff;
}