@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.dashboardcarddata__container {
  border-top: 13px solid;
  border-bottom: 12px solid;
  border-color: transparent;
  background: #fafafa;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}
.dashboardcarddata__dataitems {
  width: 20%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
