<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif">
    <div style="font-size: 30px; text-align: center">Project Soft Trainee Report </div>
    <div style="text-align: center; margin: 15px">Detailed Status Report</div>
    <div style="width: 100%">
      <div style="text-align: end; margin: 40px; font-size: larger">
        Report Date :12-11-2021
      </div>
    </div>
    <div style="margin: 20px; font-size: larger">
      <div>Name&nbsp;:  Prithivi</span></div>
      <div>Type&nbsp;&nbsp;&nbsp;: Trainee</span></div>
    </div>
    <table style="width: 100%;" border="1" >
      <tr style="text-align: center;">
        <th style="text-align: center;">S.No</th>
        <th style="text-align: center;">Assessment Name</th>
        <th style="text-align: center;">Start Date</th>
        <th style="text-align: center;">End Date</th>
        <th style="text-align: center;">Assigned By</th>
        <th style="text-align: center;">Percentage</th>
      </tr>
       <tr>
        <td style="text-align: center;">1</td>
        <td style="text-align: center;">React JS</td>
        <td style="text-align: center;">10-01-2022</td>
        <td style="text-align: center;">18-01-2022</td>
        <td style="text-align: center;">Vairamuthu</td>
        <td style="text-align: center;">78%</td>
      </tr>
    </table>

    <table style="width: 100%;padding-top: 10%;" border="0" >
      <tr style="text-align: center;">
        <th style="text-align: center; ">Assigned By</th>
        <th style="text-align: center;">Deputy General Manager</th>
        <th style="text-align: center;">Human Resource</th>
      </tr>
      </table>
  </body>
</html>
